profiles {
    carnaby {
        process {
            executor = 'slurm'
            queue = 'cpu'
            module = ['singularity']

            withName: beamcon {
                module = ['mpich', 'singularity']
                executor = 'slurm'
                clusterOptions = '--nodes=1 --ntasks-per-node=1'
                queue = 'cpu'
            }

            withName: linmos {
                module = ['mpich', 'singularity']
                executor = 'slurm'
                clusterOptions = '--nodes=1 --ntasks-per-node=1'
                queue = 'cpu'
	        }
        }

        params {
            WORKDIR = "/mnt/shared/possum/runs"
            SCRATCH_ROOT = "/mnt/shared"

            HPX_TILE_CONFIG = "/mnt/shared/possum/config/hpx_tile_config.json"
            HPX_TILE_TEMPLATE = "/mnt/shared/possum/config/tile-template.fits"
            HPX_TILE_MAP = "/mnt/shared/possum/config/pixel.map.test.csv"

            LINMOS_CONFIG_FILE = "/mnt/shared/possum/config/linmos.config"

            CASDA_CREDENTIALS = "/mnt/shared/possum/config/casda.ini"
            SINGULARITY_CACHEDIR = "/mnt/shared/possum/apps/singularity"
        }

        singularity {
            enabled = true
            cacheDir = "/mnt/shared/possum/apps/singularity/"
        }

        docker.enabled = false
    }
}

params {
    BEAMCON_NTASKS = 16

    FRION_PREDICT_OUTFILE = "frion_predict.txt"
    FRION_Q_CUBE_FILENAME = "q.fits"
    FRION_U_CUBE_FILENAME = "u.fits"

    SPLIT_CUBE_SUBDIR = "split"
    EVALUATION_FILES_DIR = "evaluation_files"
    TILE_COMPONENT_OUTPUT_DIR = "hpx_tile_components"
    HPX_TILE_OUTPUT_DIR = "hpx_tiles"

    LINMOS_CONFIG_TEMPLATE = "/mnt/shared/wallaby/config/linmos.config"
    LINMOS_IMAGE = "docker://csirocass/askapsoft:1.9.1-casacore3.5.0-mpich"

    RACS_TOOLS_IMAGE = "docker://aussrc/racstools:latest"
    MONTAGE_IMAGE = "docker://astroaustin/montage:latest"
    IONOSPHERIC_CORRECTION_IMAGE = "docker://aussrc/frion:latest"
    METADATA_IMAGE = "docker://aussrc/metadata_tools:latest"
    HPX_TILING_IMAGE = "docker://aussrc/hpx_tiles:latest"
    MOSAICKING_COMPONENTS_IMAGE = "docker://aussrc/mosaicking_tools:latest"
}