profiles {
    carnaby {
        process {
            executor = 'slurm'
            queue = 'cpu'
            module = ['singularity']

            withName: beamcon {
                module = ['mpich', 'singularity']
                executor = 'slurm'
                clusterOptions = '--nodes=4 --ntasks-per-node=4'
                queue = 'cpu'
            }
        }

        params {
            WORKDIR = "/mnt/shared/possum/runs"
            SCRATCH_ROOT = "/mnt/shared"

            HPX_TILE_MAP_CONFIG = "/mnt/shared/home/ashen/POSSUM/pipeline/config/map.config.json"
            TILING_CONFIG = "/mnt/shared/home/ashen/POSSUM/pipeline/config/tile.config.json"

            CASDA_CREDENTIALS = "/mnt/shared/possum/config/casda.ini"
            SINGULARITY_CACHEDIR = "/mnt/shared/possum/apps/singularity"
        }

        singularity {
            enabled = true
            cacheDir = "/mnt/shared/possum/apps/singularity/"
        }

        docker.enabled = false
    }
}

params {
    FRION_PREDICT_OUTFILE = "frion_predict.txt"
    FRION_Q_CUBE_FILENAME = "q.fits"
    FRION_U_CUBE_FILENAME = "u.fits"

    EVALUATION_FILES_DIR = "evaluation_files"
    TILING_OUTPUT_DIR = "hpx_tiles"

    RACS_TOOLS_IMAGE = "docker://aussrc/racstools:latest"
    WALLABY_COMPONENTS_IMAGE = "docker://aussrc/wallaby_scripts:latest"
    MONTAGE_IMAGE = "docker://astroaustin/montage:latest"
    IONOSPHERIC_CORRECTION_IMAGE = "docker://aussrc/frion:latest"
    ASTROPY_IMAGE = "docker://aussrc/astropy:latest"
    METADATA_IMAGE = "docker://aussrc/metadata_tools:latest"
    HPX_TILING_IMAGE = "docker://aussrc/hpx_tiles:latest"
}