profiles {
    setonix {
        process {
            executor = 'local'
            queue = 'work'
            module = ['singularity/4.1.0-slurm']
            clusterOptions = "--mem-per-cpu=16G --account=ja3 --time=12:00:00"
            beforeScript = """. /opt/cray/pe/lmod/lmod/init/bash"""

            withName: file_complete_csv {
                executor = 'local'
                module = ['python/3.11.6']
            }

            withName: pull_racstools_image {
                executor = 'slurm'
                clusterOptions = '--mem-per-cpu=32G --time=1:00:00'
            }

            withName: download {
                executor = 'slurm'
                queue = 'copy'
                clusterOptions = '--account=ja3 --time=12:00:00'
            }

            withName: frion_predict {
                executor = 'slurm'
                clusterOptions = '--account=ja3 --ntasks=1 --nodes=1 --ntasks-per-node=1 --mem-per-cpu=16G --time=1:00:00'
            }

            withName: frion_correct {
                executor = 'slurm'
                clusterOptions = '--account=ja3 --ntasks=1 --nodes=1 --ntasks-per-node=1 --mem-per-cpu=128G --time=8:00:00'
            }

            withName: beamcon_3D {
                executor = 'slurm'
                clusterOptions = '--account=ja3 --nodes=1 --ntasks-per-node=1 --cpus-per-task=8 --mem-per-cpu=20G --time=12:00:00'
            }

            withName: beamcon_2D {
                executor = 'slurm'
                clusterOptions = '--account=ja3 --mem-per-cpu=32G --time=12:00:00'
            }

            withName: run_hpx_tiling {
                executor = 'slurm'
                clusterOptions = '--account=ja3 --ntasks=1 --nodes=1 --ntasks-per-node=1 --mem-per-cpu=64G --time=18:00:00'
            }

            withName: join_split_hpx_tiles {
                executor = 'slurm'
                clusterOptions = '--account=ja3 --ntasks=1 --nodes=1 --ntasks-per-node=1 --mem-per-cpu=32G --time=2:00:00'
            }

            withName: repair_tiles {
                executor = 'slurm'
                clusterOptions = '--account=ja3 --ntasks=1 --nodes=1 --ntasks-per-node=1 --mem-per-cpu=64G --time=2:00:00'
            }

            withName: run_linmos {
                module = ['singularity/4.1.0-slurm']
                executor = 'slurm'
                clusterOptions = '--mem-per-cpu=32G --account=ja3 --time=12:00:00'
            }

            withName: run_linmos_mpi {
                module = ['singularity/4.1.0-mpi']
                executor = 'slurm'
                clusterOptions = '--nodes=1 --ntasks-per-node=6 --mem-per-cpu=32G --account=ja3 --time=12:00:00 --exclusive'
            }

            withName: objectstore_upload_component {
                module = ['rclone/1.63.1']
                executor = 'slurm'
                queue = 'copy'
                clusterOptions = '--account=ja3 --time=12:00:00'
            }

            withName: objectstore_download_component {
                executor = 'slurm'
                queue = 'copy'
                module = ['rclone/1.63.1']
                clusterOptions = '--account=ja3 --time=12:00:00'
            }

            withName: objectstore_upload_pixel {
                executor = 'slurm'
                queue = 'copy'
                module = ['rclone/1.63.1']
                clusterOptions = '--account=ja3 --time=12:00:00'
            }

            withName: objectstore_upload_stokes_component {
                executor = 'slurm'
                queue = 'copy'
                module = ['rclone/1.63.1']
                clusterOptions = '--account=ja3 --time=12:00:00'
            }

            withName: objectstore_upload_frion_predict {
                executor = 'slurm'
                queue = 'copy'
                module = ['rclone/1.63.1']
                clusterOptions = '--account=ja3 --time=12:00:00'
            }
        }

        env {
            XDG_CACHE_HOME = "/scratch/ja3/ashen/"
            CASASITECONFIG = "/software/projects/ja3/ashen/.casa/config.py"
        }

        params {
            SCRATCH_ROOT = "/scratch"
            WORKDIR = "/scratch/ja3/possum_survey/survey"

            CASDA_CREDENTIALS = "/software/projects/ja3/ashen/config/possum/casda.ini"
            HPX_TILE_CONFIG_BAND1 = "/software/projects/ja3/ashen/config/possum/hpx_tile_config_band1.json"
            HPX_TILE_CONFIG_BAND2 = "/software/projects/ja3/ashen/config/possum/hpx_tile_config_band2.json"
            HPX_TILE_TEMPLATE = "/software/projects/ja3/ashen/config/possum/tile-template.fits"

            SINGULARITY_CACHEDIR = "/scratch/ja3/possum_survey/images"
            NUMBA_CACHE_DIR = "/scratch/ja3/possum_survey/conf/numba"
        }

        workDir = "/scratch/ja3/possum_survey/work"
        tmpDir = "/scratch/ja3/possum_survey/tmp"

        singularity {
            enabled = true
            envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
            cacheDir = "/scratch/ja3/possum_survey/images"
            runOptions = "--rocm"
        }

        docker.enabled = false
    }
}

params {
    SURVEY_COMPONENT = "survey"
    BEAMCON_2D_SUFFIX = "sm"
    BEAMCON_3D_SUFFIX = "total"
    BMAJ = 20
    BMIN = 20
    BPA = 0
    CUTOFF = 19.999
    NSPLIT = 8
    NAN_TO_ZERO_NSPLIT = 8

    FRION_PREDICT_OUTFILE = "frion_predict.txt"
    FRION_Q_CUBE_FILENAME = "q.fits"
    FRION_U_CUBE_FILENAME = "u.fits"

    HPX_TILE_PREFIX = "PSM"
    SPLIT_CUBE_SUBDIR = "split"
    EVALUATION_FILES_DIR = "evaluation_files"
    TILE_COMPONENT_OUTPUT_DIR = "components"

    LINMOS_IMAGE = "csirocass/askapsoft:1.15.0-setonix"
    LINMOS_IMAGE_NAME = "askapsoft"
    RACS_TOOLS_IMAGE_NAME = "racstools"
    RACS_TOOLS_IMAGE = "docker://alecthomson/racstools:refactor"
    IONOSPHERIC_CORRECTION_IMAGE = "docker://aussrc/frion:latest"
    METADATA_IMAGE = "docker://aussrc/metadata_tools:latest"
    HPX_TILING_IMAGE = "docker://aussrc/hpx_tiles:v1.0.1"
    CASDA_DOWNLOAD_IMAGE = "docker://aussrc/casda_download:latest"
}
